<h1>Hi <%= @user.name %>,</h1>
<p>This is a reminder for your movie today:</p>
<p><strong><%= @show.movie.name %></strong> at <%= @show.theatre.name %>. Time Slot is:  <%= @show.slot %></p>
<p>Enjoy your movie!</p>
