<div class="container my-5">
    
  <h1 class="mb-5 text-center">Admin Dashboard</h1>
  
  </div>
  <div class="row g-4">
    <div class="col-md-4">
      <%= link_to theatres_path, class: "card text-center text-decoration-none text-dark h-100" do %>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h4 class="card-title">Theatres</h4>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= link_to movies_path, class: "card text-center text-decoration-none text-dark h-100" do %>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h4 class="card-title">Movies</h4>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= link_to shows_path, class: "card text-center text-decoration-none text-dark h-100" do %>
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
          <h4 class="card-title">Shows</h4>
        </div>
      <% end %>
    </div>

  </div>
</div>
